.App {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 100%;
    background-color: black;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    background-color: white;
}