.App {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 100%;
    background: linear-gradient(rgb(0, 139, 19), #002c00);
    overflow: hidden;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    background-color: white;
}

.edit {
    background: linear-gradient(rgb(0, 139, 19), #002c00);
}